@use '../variables';

.button {
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &--primary {
        color: variables.$backgroundInitial;
        background-color: variables.$backgroundButton;
    }

    @media (max-width: 640px){
        display: block;
        width: 100%;
    }
}

