@use 'variaveis';

.trailer {
    background-color: variaveis.$corDeFonteBranca;
    background-image: linear-gradient(#000c22, black);
}

.bloco {
    padding-top: 10px;
    display: flex;
    height: 30vh;
    align-items: inherit;
    justify-content: space-around;

    @media (max-width:768px) {
        display: inline-block;
    }

    @media (max-width:1024px) {
        display: inline;
    }
}

.paragrafo {
    color: variaveis.$corDeFonteBranca;
    width: 500px;
    text-align: center;
    line-height: 2em;
    font-size: 20px;

    @media (max-width:768px) {
        width: 95%;
        line-height: 1em;
        text-align: center;
    }

    @media (max-width:1024px) {
        width: 85%;
        line-height: 1em;
        padding-left: 32px;

    }

}